<app-card [title]="'Editar Producto'">
    <h4>Editar producto : {{ product.name }}</h4>
    <br>
    <form class="form-material" action="javascript:">
        <div class="form-group form-default form-static-label">
          <input type="text" class="form-control" required="" value="{{ product.name }}">
          <span class="form-bar"></span>
          <label class="float-label">Nombre</label>
        </div>
        <div class="form-group form-default form-static-label">
          <input type="text" class="form-control" required="" value="{{ product.quantity }}">
          <span class="form-bar"></span>
          <label class="float-label">contenido</label>
        </div>
        <div class="form-group form-default form-static-label">
          <input type="text" class="form-control" required="" value="{{ product.brand }}" readonly disabled>
          <span class="form-bar"></span>
          <label class="float-label">marca</label>
        </div>
        <div class="form-group form-default form-static-label">
          <input type="text" class="form-control" required="" value="{{ product.manufacture }}">
          <span class="form-bar"></span>
          <label class="float-label">fabricante/ importador</label>
        </div>
        <div class="form-group form-default form-static-label">
          <input type="text" class="form-control" required="" value="{{ product.detail }}">
          <span class="form-bar"></span>
          <label class="float-label">detalles</label>
        </div>
    </form>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-success alert-success-msg m-b-10 ripple light"  (click)=openSuccessCancelSwal()  style="float: right">Guardar cambios</button>
        <button type="button" class="btn btn-default ripple" routerLink="/product/product-list">Regresar</button>
    </div>
</app-card>
