<div class="card">
    <div class="card-header">
        <button [routerLink]="['/transacciones/create']" type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"> <i class="icofont icofont-plus m-r-5"></i> Nuevo
        </button>
        <input
        type="text"
        class="form-control input-sm full-data-search"
        placeholder="Buscar por nombre"
        (keyup)="updateFilter($event)"
      />
    </div>
    <div class="card-header">
        <div ngbDropdown class="btn-group dropdown-split-primary" style="margin-right: 10px">
          <button type="button" class="btn btn-primary light"><i class="icofont icofont-info-square"></i>Filtrar por aprobacion</button>
          <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle-split light">
            <span class="sr-only"></span>
          </button>
          <div ngbDropdownMenu>
            <button class="dropdown-item ripple light" (click)="filtrar_aprobado(false)">No Aprobado</button>
            <button class="dropdown-item ripple light" (click)="filtrar_aprobado(true)">Aprobado</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item ripple light" (click)="filtrar_aprobado('TODO')">Todo</button>
          </div>
        </div>
        <div ngbDropdown class="btn-group dropdown-split-primary" style="margin-right: 10px">
          <button type="button" class="btn btn-primary light"><i class="icofont icofont-info-square"></i>Filtrar por Bodega</button>
          <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle-split light">
            <span class="sr-only"></span>
          </button>
          <div ngbDropdownMenu>
            <div *ngFor="let bod of bodegas">
            <button class="dropdown-item ripple light" (click)="filtrar_bodega(bod.id)">{{ bod.nombre }}</button>
            </div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item ripple light" (click)="filtrar_bodega('TODO')">Todo</button>
          </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                    <div class="table-responsive">
                        <ngx-datatable
                        #myTable
                          class="data-table expandable"
                          [rows]="rows"
                          [columnMode]="'force'"
                          [scrollbarH]="true"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="10"
                          [selected]="selected"
                          (click)="onClickRow($event)"
                          (activate)="onActivate($event)"
                          (select)='onSelect($event)'>
                        <!-- Row Detail Template -->
                            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                <div class="dt-desc">
                                    <table class="table-striped table-bordered">
                                    <tr>
                                        <th colspan="2"><strong>Empaques</strong></th>
                                    </tr>
                                    <tr *ngFor="let empaque of row.empaques">
                                        <td>{{empaque.__str__}}</td>
                                        <td>{{empaque.clase.nombre}}</td>
                                    </tr>
                                    </table>
                                </div>
                    
                                </ng-template>
                            </ngx-datatable-row-detail>
                          <!-- Columns properties-->
                          <ngx-datatable-column
                            [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                <a
                                href="javascript:;"
                                [class.datatable-icon-right]="!expanded"
                                [class.datatable-icon-down]="expanded"
                                title="Expand/Collapse Row"
                                (click)="toggleExpandRow(row)">
                                </a>
                            </ng-template>
                            </ngx-datatable-column>
                          <ngx-datatable-column name="Nombre" prop="nombre" ></ngx-datatable-column>
                          <ngx-datatable-column name="Bodega" prop="nueva_ubicacion.bodega.nombre" ></ngx-datatable-column>
                          <ngx-datatable-column name="Fecha Inicio" prop="fecha_inicio" ></ngx-datatable-column>
                          <ngx-datatable-column name="Fecha Final" prop="fecha_final" ></ngx-datatable-column>
                          <ngx-datatable-column name="Dias de Plazo" prop="dias_plazo" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <strong>{{value}}</strong> dias
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Aprobado" prop="aprobado" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span *ngIf="!value"><label class="badge badge-danger">NO APROBADO</label></span>
                                  <span *ngIf="value"><label class="badge badge-success">APROBADO</label></span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Fecha Aprobacion" prop="fecha_aprobacion" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span *ngIf="value">{{value}}</span>
                                  <span *ngIf="!value">No Aprobado</span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Nuevo Custodio" prop="nuevo_custodio" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  {{ value.representante.nombre }} - {{ value.representante.empresa.nombre }}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Vendedor" prop="nuevo_custodio" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  {{ value.vendedor.nombre }}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Acciones" prop="retornado">
                                <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                                  <button class="btn btn-success ripple light" (click)="loadFileGeneration(row)">
                                      <i class="icofont icofont-check-circled"></i>Generar Carta
                                  </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
