<div class="card">
    <div class="card-header">
        <button [routerLink]="['/custodios/custodios-create']" type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" style="margin-right: 10px"> <i class="icofont icofont-plus m-r-5"></i> Nuevo
        </button>
        <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="export()" style="margin-right: 10px">Exportar a EXCEL</button>
        <input
        type="text"
        class="form-control input-sm full-data-search"
        placeholder="Buscar por nombre"
        (keyup)="updateFilter($event)"
      />
    </div>
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                    <div class="table-responsive">
                        <ngx-datatable
                          #table
                          class="data-table"
                          [rows]="rows"
                          [columnMode]="'force'"
                          [scrollbarH]="true"
                          [columns]="columns"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="5"
                          [selected]="selected"
                          [selectionType]="'multi'"
                          (activate)="onActivate($event)">
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
