<app-card [title]="'Editar Politica'">
    <h4>Editar Politica : {{ policie.name }}</h4>
    <br>
    <form class="form-material" action="javascript:">
        <div class="form-group form-default form-static-label">
          <input type="text" class="form-control" required="" value="{{ policie.name }}">
          <span class="form-bar"></span>
          <label class="float-label">Nombre</label>
        </div>
        <ngx-datatable
          #mydatatable
          class="material"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [scrollbarH]="true"
          [footerHeight]="0"
          [rowHeight]="'auto'"
          [rows]="rows">
          <ngx-datatable-column name="Effect">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-effect'] = true"
                *ngIf="!editing[rowIndex + '-effect']">
                {{value}}
              </span>
              <input
                autofocus
                (blur)="updateValue($event, 'effect', rowIndex)"
                *ngIf="editing[rowIndex+ '-effect']"
                type="text"
                [value]="value"
                class="form-control"
              />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
               <span
                 title="Double click to edit"
                 (dblclick)="editing[rowIndex + '-action'] = true"
                 *ngIf="!editing[rowIndex + '-action']">
                {{value}}
              </span>
              <select
                *ngIf="editing[rowIndex + '-action']"
                (change)="updateValue($event, 'action', rowIndex)"
                [value]="value"
                class="form-control">
                <option value="*">ALL</option>
                <option value="write">Write</option>
                <option value="read">Read</option>
                <option value="delete">Delete</option>
                <option value="execute">Execute</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Resources">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-resources'] = true"
                *ngIf="!editing[rowIndex + '-resources']">
                {{value}}
              </span>
              <input
                (blur)="updateValue($event, 'resources', rowIndex)"
                *ngIf="editing[rowIndex+ '-resources']"
                type="text"
                [value]="value"
                class="form-control"
              />
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <br>
        <br>
    </form>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-success alert-success-msg m-b-10 ripple light" (click)=openSuccessCancelSwal() style="float: right">Guardar cambios</button>
        <button type="button" class="btn btn-default ripple" routerLink="/policies/">Regresar</button>
    </div>
</app-card>
