<app-card [title]="'registro de Camaroneras'">
    <wizard #wizard class="arc-wizard">
        <wizard-step stepTitle="Informacion basica">
            <div>
                <div>
                    <div class="centered-content">
                        <h3>Ingrese Informacion</h3>
                        <p>camaronera</p>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5>Informacion General</h5>
                        </div>
                        <div class="card-block">
                            <form class="form-material" #f="ngForm">
                                <div class="row">
                                    <div class="col-md-6 col-xl-12 ">
                                        <div class="form-group form-default">
                                            <input type="text" name="name" class="form-control" required="" [(ngModel)]="name">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Nombre</label>
                                        </div>
                                        <div class="form-group form-default">
                                            <input type="text" name="detail" class="form-control" required="" [(ngModel)]="detail">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Detalle</label>
                                        </div>
                                        <div class="form-group form-default">
                                            <input type="text" name="detail" class="form-control" required="" [(ngModel)]="locate">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Ubicacion</label>
                                        </div>
                                        <div class="form-group form-default">
                                            <input type="number" name="detail" class="form-control" required="" [(ngModel)]="area">
                                            <span class="form-bar"></span>
                                            <label class="float-label">Area</label>
                                        </div>
                                        <div class="form-group form-default">
                                            <h4 class="sub-title p-t-15">Asignacion de Empresa</h4>
                                            <select class="form-control form-control-default" [(ngModel)]="companySelected" [ngModelOptions]="{standalone: true}">
                                                <option [ngValue]="company" *ngFor="let company of companies">{{company.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="btn-group mt-10">
                    <button type="button" class="btn btn-primary btn-sm" (click)="getCompValue(selectedValue)" nextStep>Continue</button>
                </div>
            </div>
        </wizard-step>
        <wizard-step stepTitle="Finished">
            <div class="centered-content">
                <div class="col-xs-6 col-md-12 col-lg-12">
                    <h3>Confirmacion</h3>
                    <ul class="basic-list">
                        <li class="">
                            <div class="row">
                                <h6 class="col-6" align="right">Nombre: </h6>
                                <p class="col-6" align="left">{{name}}</p>
                            </div>
                        </li>
                        <li class="">
                            <div class="row">
                                <h6 class="col-6" align="right">Detalle: </h6>
                                <p class="col-6" align="left">{{detail}}</p>
                            </div>
                        </li>
                        <li class="">
                            <div class="row">
                                <h6 class="col-6" align="right">Ubicacion: </h6>
                                <p class="col-6" align="left">{{locate}}</p>
                            </div>
                        </li>
                        <li class="">
                            <div class="row">
                                <h6 class="col-6" align="right">Area: </h6>
                                <p class="col-6" align="left">{{area}} Has</p>
                            </div>
                        </li>
                        <li class="">
                            <div class="row">
                                <h6 class="col-6" align="right">Empresa: </h6>
                                <p class="col-6" align="left">{{ companySelected.name }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn-group mt-10">
                    <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
                    <button type="button" class="btn btn-danger btn-sm" resetWizard>Reset</button>
                    <button class=" btn btn-primary light btn-sm" (click)="createFarm()">Confirmar</button>
                </div>
            </div>
        </wizard-step>
    </wizard>
</app-card>
