<div class="card">
    <div class="card-header">
        <button [routerLink]="['/empaques/empaques-create']" type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger"> <i class="icofont icofont-plus m-r-5"></i> Nuevo
        </button>
        <button type="button" class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" (click)="modalDefault.show()">Subir por CSV</button>
        <input
        type="text"
        class="form-control input-sm full-data-search"
        placeholder="Buscar por nombre"
        (keyup)="updateFilter($event)"
      />
          <app-modal-basic #modalDefault>
            <div class="app-modal-header">
              <h4 class="modal-title">Agregar cilindros por archivo</h4>
              <button type="button" class="close basic-close" (click)="modalDefault.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="app-modal-body">
              <h5>Instrucciones</h5>
              <p>El único tipo de archivo aceptado es CSV. El formato es el siguiente: codigo,serie,bodega,estado,clase,custodio</p>
              <input type="file" accept=".csv" (change)="handleFileSelect($event)">
            </div>
            <div class="app-modal-footer">
              <button type="button" class="btn btn-default ripple" (click)="modalDefault.hide()">Cerrar</button>
              <button (click)="addEmpaques()" type="button" class="btn btn-primary ripple light">Subir</button>
            </div>
          </app-modal-basic>
    </div>
    <div class="card-header">
        <div ngbDropdown class="btn-group dropdown-split-primary" style="margin-right: 10px">
          <button type="button" class="btn btn-primary light"><i class="icofont icofont-info-square"></i>Filtrar por tipo</button>
          <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle-split light">
            <span class="sr-only"></span>
          </button>
          <div ngbDropdownMenu>
            <div *ngFor="let tipo of tipo_empaques">
            <button class="dropdown-item ripple light" (click)="filtrar_tipo(tipo.id)">{{ tipo.nombre }}</button>
            </div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item ripple light" (click)="filtrar_tipo('TODO')">Todo</button>
          </div>
        </div>
        <div ngbDropdown class="btn-group dropdown-split-primary" style="margin-right: 10px">
          <button type="button" class="btn btn-primary light"><i class="icofont icofont-info-square"></i>Filtrar por Ubicacion</button>
          <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle-split light">
            <span class="sr-only"></span>
          </button>
          <div ngbDropdownMenu>
            <div *ngFor="let ubi of ubicaciones">
            <button class="dropdown-item ripple light" (click)="filtrar_ubicacion(ubi.id)">{{ ubi.__str__ }}</button>
            </div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item ripple light" (click)="filtrar_ubicacion('TODO')">Todo</button>
          </div>
        </div>
        <div ngbDropdown class="btn-group dropdown-split-primary" style="margin-right: 10px">
          <button type="button" class="btn btn-primary light"><i class="icofont icofont-info-square"></i>Filtrar por Clase</button>
          <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle-split light">
            <span class="sr-only"></span>
          </button>
          <div ngbDropdownMenu>
            <div *ngFor="let clase of clases">
            <button class="dropdown-item ripple light" (click)="filtrar_clase(clase.id)">{{ clase.nombre }}</button>
            </div>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item ripple light" (click)="filtrar_clase('TODO')">Todo</button>
          </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                    <div class="table-responsive">
                        <ngx-datatable
                        #table
                          class="data-table"
                          [rows]="rows"
                          [columnMode]="'force'"
                          [scrollbarH]="true"
                          [columns]="columns"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="10"
                          [selected]="selected"
                          [selectionType]="'multi'"
                          (activate)="onActivate($event)"
                          (select)='onSelect($event)'>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
