<div class="card">
    <div class="card-header">
        <h5>Crear nuevo custodio</h5>
        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
    </div>
    <div class="card-block">
        <form class="form-material" [formGroup]="custodioForm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Representante</label>
                <div class="col-sm-4">
                    <select name="select" class="form-control" formControlName="representante">
                        <option [value]="repre.id" *ngFor="let repre of representantes">{{ repre.nombre }}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Vendedor</label>
                <div class="col-sm-4">
                    <select name="select" class="form-control" formControlName="vendedor">
                        <option [value]="vend.id" *ngFor="let vend of vendedores">{{ vend.nombre }}</option>
                    </select>
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-primary light" (click)="guardarCustodioModal()" [disabled]="!custodioForm.valid">Crear</button>
        <!-- <button type="button" class="btn btn-primary light" (click)="onSubmit()" >Crear</button> -->
    </div>
</div>
<div class="row">
        <div class="col-md-12 col-lg-6">
          <!-- Label size card start -->
          <app-card [title]="'Crear Vendedor'" [headerContent]="'Formulario para creacion de vendedor Brenntag'" [cardOptionBlock]="true">
                <form class="form-material" [formGroup]="vendedorForm">
                    <div class="form-group form-default">
                        <input type="text" name="cedula" class="form-control" required formControlName="cedula">
                        <span class="form-bar"></span>
                        <label class="float-label">Cedula</label>
                    </div>  
                    <div class="form-group form-default">
                        <input type="text" name="nombre" class="form-control" required formControlName="nombre">
                        <span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                    </div>
                </form>
                <button type="button" class="btn btn-primary light" (click)="guardarVendedorModal()" [disabled]="!vendedorForm.valid">Crear</button>
          </app-card>
          <!-- Label size card end -->
        </div>
        <div class="col-md-12 col-lg-6">
          <!-- Badge size card start -->
          <app-card [title]="'Crear Representante'" [headerContent]="'Formulario para creacion de representante de empresa externa'" [cardOptionBlock]="true">
                <form class="form-material" [formGroup]="repreForm">
                        <div class="form-group form-default">
                            <input type="text" name="cedula" class="form-control" required formControlName="cedula">
                            <span class="form-bar"></span>
                            <label class="float-label">Cedula</label>
                        </div>  
                        <div class="form-group form-default">
                            <input type="text" name="nombre" class="form-control" required formControlName="nombre">
                            <span class="form-bar"></span>
                            <label class="float-label">Nombre</label>
                        </div>
                        <div class="form-group form-default">
                            <input type="text" name="nombre_carta" class="form-control" required formControlName="nombre_carta">
                            <span class="form-bar"></span>
                            <label class="float-label">Nombre Carta</label>
                        </div>
                        <div class="form-group form-default">
                            <input type="text" name="telefono" class="form-control" required formControlName="telefono">
                            <span class="form-bar"></span>
                            <label class="float-label">Telefono</label>
                        </div>
                        <div class="form-group form-default">
                                <input type="text" name="correo" class="form-control" required formControlName="correo">
                                <span class="form-bar"></span>
                                <label class="float-label">Correo</label>
                            </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Empresa</label>
                            <div class="col-sm-3">
                                <select name="select" class="form-control" formControlName="empresa">
                                    <option [value]="emp.codigo" *ngFor="let emp of empresas">{{ emp.nombre }}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn btn-primary btn-outline-primary ripple" (click)="openCrearEmpresa()"><i class="icofont icofont-plus-circle"></i> Empresa</a>
                            </div>
                        </div>
                </form>
                <button type="button" class="btn btn-primary light" (click)="guardarRepresentanteModal()" [disabled]="!repreForm.valid">Crear</button>
            </app-card>
          <!-- Badge size card end -->
    </div>
</div>