<app-card [title]="'Kader'">
  <h4>Kardex: {{ productSelected.name }}</h4>
  <h5>{{productSelected.detail}}</h5>
    <div class="card-block" style="padding:0px">
        <div class="row">
            <!-- <div class="col-md-6 button-page">
                <button [routerLink]="['/inventory/inventory-income']" class=" btn btn-primary light">Ingreso</button>
                <button [routerLink]="['/inventory/inventory-departure']" class=" btn btn-danger light">Egreso</button>
            </div> -->
            <div id="table-search" class="col-md-6">
                <label>Search:
                  <input
                  type='text'
                  style='padding:5px;margin:5px auto;width:60%;'
                  placeholder='Search on Kardex'
                  (keyup)='updateFilter($event)'
                  />
                </label>
            </div>
        </div>
        <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [scrollbarH]="false"
        [scrollbarV]="false"
        [limit]="10"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        [rowClass]="getRowClass"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectionType]="'single'"
        (activate)="onActivate($event)"
        (dblclick)="modalInformation.show()"
        (select)='onSelect($event)'>
            <ngx-datatable-column   name="Fecha" prop="date" ></ngx-datatable-column>
            <ngx-datatable-column   name="detalle" prop="detail"></ngx-datatable-column>
            <!-- <ngx-datatable-column [width]="70" [cellClass]="'my-custom-cell-2'" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" name="Id" prop="_id"></ngx-datatable-column>
            <ngx-datatable-column   name="Type"[width]="70" [cellClass]="'my-custom-cell-2'" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column   name="Fix"[width]="50" [cellClass]="'my-custom-cell-2'" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"></ngx-datatable-column> -->
            <!-- <ngx-datatable-column   name="Producto" prop="displayname" [width]="100" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{getProduct(row.product).name}}
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column   name="cant." prop="incQuantity" [cellClass]="'income-kardex'"[width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">fecha</ngx-datatable-column>
            <ngx-datatable-column   name="$" prop="incPrice" [cellClass]="'income-kardex'"[width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">fecha</ngx-datatable-column>
            <ngx-datatable-column   name="total" prop="incTotal" [cellClass]="'income-kardex'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">fecha</ngx-datatable-column>
            <ngx-datatable-column   name="cant." prop="depQuantity" [cellClass]="'departure-kardex'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">fecha</ngx-datatable-column>
            <ngx-datatable-column   name="$" prop="depPrice" [cellClass]="'departure-kardex'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">fecha</ngx-datatable-column>
            <ngx-datatable-column   name="total" prop="depTotal" [cellClass]="'departure-kardex'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">fecha</ngx-datatable-column>
            <ngx-datatable-column   name="cant." prop="stkQuantity" [cellClass]="'stock-history'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" ></ngx-datatable-column>
            <ngx-datatable-column   name="$" prop="stkPrice" [cellClass]="'stock-history'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column   name="total" prop="stkTotal" [cellClass]="'stock-history'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"></ngx-datatable-column>
        </ngx-datatable>
    </div>
    <app-modal-basic #modalInformation>
        <div class="app-modal-header">
            <h2 class="modal-title">Informacion</h2>
            <button type="button" class="close basic-close" (click)="modalInformation.hide()" (click)="clean_modal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="app-modal-body">
            <h4>Detalle</h4>
            <br>
            <form class="form-material" action="javascript:">
                <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ move_ }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Nombre</label>
                </div>
                <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ move_ }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">size</label>
                </div>
                <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ move_ }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Ubication</label>
                </div>
                <!-- <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ company_farm }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Camaronera</label>
                </div> -->
            </form>
            <div class="app-modal-footer">
                <button type="button" class="btn btn-primary ripple light" style="float: right" routerLink="/farm/farm-edit/{{ farm_id }}">Editar</button>
                <button type="button" class="btn btn-default ripple" (click)="modalInformation.hide()" (click)="clean_modal()">Close</button>
            </div>
        </div>
    </app-modal-basic>
</app-card>
