<app-card [title]="'registro de Producto'">
  <wizard #wizard class="arc-wizard">
    <wizard-step stepTitle="Informacion basica">
      <div>
        <div>
          <div class="centered-content">
            <h3>ingrese Informacion</h3>
            <p>Producto</p>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Informacion General</h5>
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-md-6 col-xl-6 ">
                  <div class="card-block">
                    <form class="form-material" action="javascript:">
                      <div class="form-group form-default">
                        <input #name type="text" name="name" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                      </div>
                      <div class="form-group form-default">
                        <input #manufacture type="text" name="manufacture" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Fabricante</label>
                      </div>
                      <div class="form-group form-default">
                        <input #detail type="text" name="detail" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">fabricante/ importador</label>
                      </div>
                      <div class="form-group form-default">
                        <input #presentation type="text" name="presentation" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label"> contenido</label>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6 col-xl-6 ">
                  <div class="card-block">
                    <form class="form-material" action="javascript:">
                      <div class="form-group form-default">
                        <input #brand type="text" name="brand" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Marca</label>
                      </div>
                      <div class="form-group form-default">
                        <input #quantity type="text" name="quantity" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">empaque</label>
                      </div>
                      <div class="form-group form-default">
                        <input #package type="text" name="package" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">fabricante/ importador</label>
                      </div>
                      <div class="form-group form-default">
                        <input #consumeUnit type="text" name="consumeUnit" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label"> contenido</label>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-sm-6 col-xl-2" align="center">
                      <h6> Categoria: </h6>
                      <ng-select
                        class="material"
                        [items]="categories"
                        bindValue="_id"
                        bindLabel="name"
                        placeholder="categoria"
                        [(ngModel)]="categorySelected"
                        (change)="getformValue(); reduceSubCategories()"
                        [ngModelOptions]="{standalone: true}" >
                      </ng-select>
                    </div>
                    <div class="col-sm-6 col-xl-2" align="center">
                      <h6> Subcategoria: </h6>
                      <ng-select
                        class="material"
                        [items]="subcategories"
                        bindValue="_id"
                        bindLabel="name"
                        placeholder="subcategoria"
                        [(ngModel)]="subcategorySelected"
                        (change)="getformValue2()"
                        [ngModelOptions]="{standalone: true}" >
                      </ng-select>
                    </div>
                    <div class="col-sm-12 col-xl-4">
                      <div class="form-group form-default">
                        <input #ProductCode value="{{this.categorySelectedName}}-{{subcategorySelectedName}}-" type="text" name="detail" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Codigo de Producto</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 button-page">
              <!-- <button [routerLink]="['/product']" class=" btn btn-primary light" (click)="openSuccessSwal()" >Nuevo</button> -->
              <!-- <button class=" btn btn-danger ripple" [disabled]="selected.length === 0" (click)="delete(selected)">Eliminar</button> -->
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group mt-10">
        <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Finished">
      <div class="centered-content">
        <div class="col-xs-6 col-md-12 col-lg-12">
          <h3>Confirmacion</h3>
          <ul class="basic-list">
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >Nombre: </h6>
                <p class= "col-6" align="left" >{{name.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >Contenido </h6>
                <p class= "col-6" align="left" >{{quantity.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >Marca: </h6>
                <p class= "col-6" align="left" >{{brand.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >importador o Fabricante: </h6>
                <p class= "col-6" align="left" >{{manufacture.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >detalles: </h6>
                <p class= "col-6" align="left" >{{detail.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >empaque: </h6>
                <p class= "col-6" align="left" >{{package.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >Presentacion: </h6>
                <p class= "col-6" align="left" >{{presentation.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >Undad de consumo: </h6>
                <p class= "col-6" align="left" >{{consumeUnit.value}}</p>
              </div>
            </li>
            <li class="">
              <div class="row">
                <h6 class= "col-6" align="right" >Codigo: </h6>
                <p class= "col-6" align="left" >{{ProductCode.value}}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
          <button type="button" class="btn btn-danger btn-sm" resetWizard>Reset</button>
          <button [routerLink]="['../product-list']" class=" btn btn-primary light btn-sm" (click)="openSuccessSwal()" >Confirmar</button>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>
