<app-card [title]="'Inventario de Bodega'">
    <div class="card-block" style="padding:0px">
        <div class="row">
            <div class="col-md-6 button-page">
                <button [routerLink]="['/inventory/inventory-income']" class=" btn btn-primary light">Ingreso</button>
                <button [routerLink]="['/inventory/inventory-departure']" class=" btn btn-danger light">Egreso</button>
                <!-- <button class=" btn btn-danger ripple" [disabled]="selected.length === 0" (click)="delete(selected)">Eliminar</button> -->
            </div>
            <div id="table-search" class="col-md-6">
                <label>Search:
                  <input
                  type='text'
                  style='padding:5px;margin:5px auto;width:60%;'
                  placeholder='Search by name'
                  (keyup)='updateFilter($event)'
                  />
                </label>
            </div>
        </div>
        <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [scrollbarH]="false"
        [scrollbarV]="false"
        [limit]="10"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectionType]="'single'"
        (activate)="onActivate($event)"
        (dblclick)="modalInformation.show()"
        (select)='onSelect($event)'>
            <ngx-datatable-column   name="Id" prop="_id" [width]="70" [cellClass]="'my-custom-cell-2'" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" ></ngx-datatable-column>
            <ngx-datatable-column   name="Producto" prop="product.name" [width]="100" [cellClass]="'my-custom-cell-2'"></ngx-datatable-column>
            <ngx-datatable-column   name="Code" prop="product.code" [width]="100" [cellClass]="'my-custom-cell-2'"></ngx-datatable-column>
            <ngx-datatable-column   name="detalle" prop="product.detail" [width]="130"></ngx-datatable-column>
            <ngx-datatable-column   name="Inventario" prop="inventary" [width]="80" >fecha</ngx-datatable-column>
            <ngx-datatable-column   name="cantidad" prop="Quantity" [cellClass]="'stock-history'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" ></ngx-datatable-column>
            <ngx-datatable-column   name="Precio" prop="Price" [cellClass]="'stock-history'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column   name="Total" prop="Total" [cellClass]="'stock-history'" [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"></ngx-datatable-column>
        </ngx-datatable>
    </div>
    <app-modal-basic #modalInformation >
        <div class="app-modal-header">
            <h2 class="modal-title">Informacion</h2>
            <button type="button" class="close basic-close" (click)="modalInformation.hide()" (click)="clean_modal()">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body" style="height: 30vh; width: 40vh;">
            <h4>Detalle</h4>
            <br>
            <form class="form-material" action="javascript:">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group form-default form-static-label">
                        <input type="text" class="form-control" required="" value="{{stock__id }}" readonly>
                        <span class="form-bar"></span>
                        <label class="float-label">Existencia No</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group form-default form-static-label">
                        <input type="text" class="form-control" required="" value="{{stock_product.name }}" readonly>
                        <span class="form-bar"></span>
                        <label class="float-label">Producto</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group form-default form-static-label">
                        <input type="text" class="form-control" required="" value="{{stock_product.detail }}" readonly>
                        <span class="form-bar"></span>
                        <label class="float-label">Info:</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <!-- <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ company_farm }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Camaronera</label>
                </div> -->
            </form>
            <div class="app-modal-footer">
                <button type="button" class="btn btn-primary ripple light" style="float: right" routerLink="/inventory/kardex/{{ stock_productId }}">Editar</button>
                <button type="button" class="btn btn-default ripple" (click)="modalInformation.hide()" (click)="clean_modal()">Close</button>
            </div>
        </div>
    </app-modal-basic>
</app-card>
