<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
      <div class="table-content crm-table">
          <div class="project-table">
              <div id="crm-contact" class="dt-responsive">
                <span class="m-b-20">Empaques por confirmar</span><br><br>
                  <div class="table-responsive">
                      <ngx-datatable
                        class="data-table"
                        [rows]="rows"
                        [columnMode]="'force'"
                        [scrollbarH]="true"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        (activate)="onActivate($event)">
                        <ngx-datatable-column name="Codigo Empaque" prop="empaque.codigo" ></ngx-datatable-column>
                        <ngx-datatable-column name="Tipo Empaque" prop="empaque.tipo_empaque.nombre" ></ngx-datatable-column>
                        <ngx-datatable-column name="Nombre Orden" prop="orden.__str__" ></ngx-datatable-column>
                        <ngx-datatable-column name="Bodega" prop="orden.ubicacion_inicial.bodega.nombre" ></ngx-datatable-column>
                        <ngx-datatable-column name="Aprobado" prop="aprobado">
                            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                                <span *ngIf="!value"><label class="badge badge-danger">NO APROBADO</label></span>
                                <span *ngIf="value"><label class="badge badge-success">APROBADO</label></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" prop="aprobado">
                          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                            <button class="btn btn-success ripple light" *ngIf="!value" (click)="setAprobacion(row, true)">
                                <i class="icofont icofont-check-circled"></i>Aprobar
                            </button>
                            <button class="btn btn-danger ripple light" *ngIf="value" (click)="setAprobacion(row, false)">
                                <i class="icofont icofont-eye-alt"></i>Desaprobar
                            </button>
                          </ng-template>
                      </ngx-datatable-column>
                      </ngx-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card-body">
        <div class="table-content crm-table">
            <div class="project-table">
                <div id="crm-contact" class="dt-responsive">
                    <span class="m-b-20">Ordenes</span><br><br>
                    <div class="table-responsive">
                        <ngx-datatable
                        #myTable
                          class="data-table"
                          [rows]="transacciones"
                          [columnMode]="'force'"
                          [scrollbarH]="true"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="10">
                          <!-- Columns properties-->
                          <ngx-datatable-column name="Nombre" prop="nombre" ></ngx-datatable-column>
                          <ngx-datatable-column name="Aprobado" prop="aprobado" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span *ngIf="!value"><label class="badge badge-danger">NO APROBADO</label></span>
                                  <span *ngIf="value"><label class="badge badge-success">APROBADO</label></span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Despachado" prop="despachado" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span *ngIf="!value"><label class="badge badge-danger">NO DESPACHADO</label></span>
                                  <span *ngIf="value"><label class="badge badge-success">DESPACHADO</label></span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Nuevo Custodio" prop="nuevo_custodio" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  {{ value.representante.nombre }} - {{ value.representante.empresa.nombre }}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Vendedor" prop="nuevo_custodio" >
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  {{ value.vendedor.nombre }}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Acciones" prop="despachado">
                            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                              <button class="btn btn-success ripple light" *ngIf="!value" (click)="setDespachado(row, true)">
                                  <i class="icofont icofont-check-circled"></i>Despachar
                              </button>
                            </ng-template>
                        </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
