<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
      <div class="table-content crm-table">
          <div class="project-table">
              <div id="crm-contact" class="dt-responsive">
                <span class="m-b-20">Por confirmar retorno</span><br><br>
                  <div class="table-responsive">
                      <ngx-datatable
                        class="data-table"
                        [rows]="rows"
                        [columnMode]="'force'"
                        [scrollbarH]="true"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [messages]="empaques_messages"
                        >
                        <ngx-datatable-column name="Codigo Empaque" prop="empaque.codigo" ></ngx-datatable-column>
                        <ngx-datatable-column name="Tipo Empaque" prop="empaque.tipo_empaque.nombre" ></ngx-datatable-column>
                        <ngx-datatable-column name="Nombre Orden" prop="orden.__str__" ></ngx-datatable-column>
                        <ngx-datatable-column name="Bodega" prop="orden.ubicacion_inicial.bodega.nombre" ></ngx-datatable-column>
                        <ngx-datatable-column name="Retornado" prop="retornado">
                            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                                <span *ngIf="!value"><label class="badge badge-danger">NO RETORNADO</label></span>
                                <span *ngIf="value"><label class="badge badge-success">RETORNADO</label></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Acciones" prop="retornado">
                          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                            <button class="btn btn-success ripple light" *ngIf="!value" (click)="setRetorno(row, true)">
                                <i class="icofont icofont-check-circled"></i>Aprobar retorno
                            </button>
                            <button class="btn btn-danger ripple light" *ngIf="value" (click)="setRetorno(row, false)">
                                <i class="icofont icofont-eye-alt"></i>Desaprobar 
                            </button>
                          </ng-template>
                      </ngx-datatable-column>
                      </ngx-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
