<app-card [title]="'Piscinas'">
    <div class="card-block" style="height: 900px">
        <div class="row">
            <div class="col-md-6 button-page">
                <button [routerLink]="['/pool/pool-create']" class=" btn btn-primary light">Nuevo</button>
                <button class=" btn btn-danger ripple" [disabled]="selected.length === 0" (click)="openSuccessCancelSwal(selected)">Eliminar</button>
            </div>
            <div id="table-search" class="col-md-6">
                <label>Search:
                  <input
                  type='text'
                  style='padding:5px;margin:5px auto;width:60%;'
                  placeholder='Search'
                  (keyup)='updateFilter($event)'
                  />
                </label>
            </div>
        </div>
        <ngx-datatable
        class="material"
        style="height: auto"
        [rows]="rows"
        [columnMode]="'force'"
        [scrollbarH]="false"
        [headerHeight]="50"
        [footerHeight]="0"
        [limit]="20"
        [rowHeight]="'auto'"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectionType]="'single'"
        (activate)="onActivate($event)"
        (dblclick)="modalInformation.show()"
        (select)='onSelect($event)'>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                      <label>
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                    </div>
                  </ng-template>
                  <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                      <label>
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Codigo" prop="code"></ngx-datatable-column>
            <ngx-datatable-column name="Descripcion" prop="description"></ngx-datatable-column>
            <ngx-datatable-column name="Camaronera" prop="farm.name"></ngx-datatable-column>
        </ngx-datatable>
    </div>
    <app-modal-basic #modalInformation>
        <div class="app-modal-header">
            <h2 class="modal-title">Informacion</h2>
            <button type="button" class="close basic-close" (click)="modalInformation.hide()" (click)="clean_modal()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="app-modal-body">
            <h4>Detalle</h4>
            <br>
            <form class="form-material" action="javascript:">
                <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ selected_pool.code }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Codigo</label>
                </div>
                <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ selected_pool.description }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Descripcion</label>
                </div>
                <div class="form-group form-default form-static-label">
                  <input type="text" class="form-control" required="" value="{{ selected_pool.farm.name }}" readonly>
                  <span class="form-bar"></span>
                  <label class="float-label">Camaronera</label>
                </div>
            </form>
            <div class="app-modal-footer">
                <button type="button" class="btn btn-primary ripple light" style="float: right" routerLink="/pool/pool-edit/{{ selected_pool._id }}">Editar</button>
                <button type="button" class="btn btn-default ripple" (click)="modalInformation.hide()" (click)="clean_modal()">Close</button>
            </div>
        </div>
    </app-modal-basic>
</app-card>
