<app-card [title]="'Siembras'">
  <div class="card-block" style="height: 900px">

    <!-- Search -->
    <div class="row">
      <div class="col-md-6 button-page">
        <button [routerLink]="['/sowing/sowing-create']" class=" btn btn-primary light">Nueva Siembra</button>
      </div>
      <div id="table-search" class="col-md-6">
        <label>Buscar:
          <input
            type='text'
            style='padding:5px;margin:5px auto;width:60%;'
            placeholder='Buscar'
            (keyup)='searchFilter($event)'>
        </label>
      </div>
    </div>

    <!-- Sowings Table -->
    <ngx-datatable
      class="material"
      style="height: auto"
      [rows]="sowingRows"
      [columnMode]="'force'"
      [scrollbarH]="false"
      [headerHeight]="50"
      [footerHeight]="0"
      [limit]="20"
      [rowHeight]="'auto'"
      [selected]="selected"
      [selectionType]="'checkbox'"
      [selectionType]="'single'"
      (activate)="onActivate($event)"
      (dblclick)="modalInformation.show()"
      (select)='onSelect($event)'>
        <!-- Column's Information -->
        <ngx-datatable-column name="Código de Siembra" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="Fecha de Siembra" prop="sowingDate"></ngx-datatable-column>
        <ngx-datatable-column name="Camaronera Asignada" prop="sowingPool.farm.name"></ngx-datatable-column>
        <ngx-datatable-column name="Piscina Sembrada" prop="sowingPool.description"></ngx-datatable-column>
    </ngx-datatable>
  </div>

  <!-- Modal's sowing information -->
  <app-modal-basic #modalInformation>
    <div class="app-modal-header">
      <h2 class="modal-title">Información de Siembra</h2>
    </div>
    <div class="app-modal-body">
      <form class="form-material">
        <div class="row">
            <div class="form-group form-default form-static-label col-md-4">
              <input type="text" class="form-control" value="{{ sowingId }}" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Siembra ID</label>
            </div>
            <div class="form-group form-default form-static-label col-md-4">
              <input type="text" class="form-control" value="{{ sowingDate | date }}" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Fecha de Siembra</label>
            </div>
            <div class="form-group form-default form-static-label col-md-4">
              <input type="text" class="form-control" value="{{ sowingPool }}" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Pool</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Costo de Siembra</label>
            </div>
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Costo de Alimento</label>
            </div>
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Costo de Insumos</label>
            </div>
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Costo de Operativos</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Medida de Crecimiento</label>
            </div>
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Medida de Alimento</label>
            </div>
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Medida de Libras</label>
            </div>
            <div class="form-group form-default form-static-label col-md-3">
              <input type="text" class="form-control" value="" readonly>
              <span class="form-bar"></span>
              <label class="float-label">Medida de Alimento</label>
            </div>
        </div>
      </form>
      <div class="app-modal-footer">
        <a class="btn btn-primary ripple light" style="float: right" routerLink="/ptransfer">Transferir a otra Piscina</a>
        <button class="btn btn-default ripple" (click)="modalInformation.hide()" (click)="clean_modal()">Cerrar</button>
      </div>
    </div>
  </app-modal-basic>

</app-card>
