<app-card [title]="'Nuevo Usuario'">
  <wizard #wizard class="arc-wizard">
    <wizard-step stepTitle="Informacion">
      <div>
        <div>
          <div class="centered-content">
            <h3>Formulario de Ingresos</h3>
            <p> Usuario Nuevo</p>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Informacion General</h5>
            </div>
            <div class="card-block">
              <form class="form-material" action="javascript:">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-default">
                      <input #name type="text" name="name" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Nombres y Apellidos</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-default">
                      <input #username type="text" name="username" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Username</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-default">
                      <input #email type="text" name="email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Correo Electronico</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-default">
                      <input #password type="password" name="contrasena" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Contrasena</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-default">
                      <input #rpassword type="password" name="rcontrasena" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Verificar Contrasena</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">Pais</h4>
                    <select name="select" class="form-control form-control-default">
                      <option value="opt1">Select Pais</option>
                      <option value="opt2">Ecuador</option>
                      <option value="opt3">Colombia</option>
                      <option value="opt4">Peru</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">Provincia</h4>
                    <select name="select" class="form-control form-control-default">
                      <option value="opt1">Select Provincia</option>
                      <option value="opt2">Guayas</option>
                      <option value="opt2">Manabi</option>
                      <option value="opt2">Los Rios</option>
                      <option value="opt2">El Oro</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">Ciudad</h4>
                    <select name="select" class="form-control form-control-default">
                      <option value="opt1">Select Ciudad</option>
                      <option value="opt2">Guayaquil</option>
                      <option value="opt2">Manta</option>
                      <option value="opt2">Machala</option>
                      <option value="opt2">Quito</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">Fecha de nacimiento</h4>
                    <form class="form-inline" action="javascript:">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                          <div class="input-group-append">
                            <span class="input-group-text" (click)="d.toggle()">
                              <i class="icofont icofont-ui-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="btn-group mt-10" class="centered-content">
          <button type="button" class="btn btn-primary btn-sm" nextStep>Siguiente</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Recursos">
      <div class="centered-content">
          <div>
            <h3>Asignacion de Recursos</h3>
            <p>Asigne uno o varios recursos al usuario</p>
          </div>
          <div class="row">
              <tree-root
                [nodes]="nodes"
                (select)="onSelect($event)"
                (deselect)="onSelect($event)"
                [options]="options">
              </tree-root>
        </div>
        <ngx-datatable class="data-table"
        style="height:auto; text-align:left"
        [rows]="resources_list"
        [columnMode]="'force'"
        [scrollbarH]="true"
        [columns]="columns"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        [selectionType]="'single'"
        (select)='onSelectTableResources($event)'>
        </ngx-datatable>
          <div class="btn-group mt-10" class="centered-content">
               <button type="button" class="btn btn-secondary btn-sm" previousStep>Atras</button>
            <button type="button" class="btn btn-primary btn-sm" nextStep>Siguiente</button>
          </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Grupos">
      <div class="centered-content">
        <div>
          <h3>Asignacion de Grupos</h3>
          <p>Asigne uno o varios grupos al usuario</p>
        </div>
        <ngx-datatable
        class="material"
        style="height: auto"
        [rows]="rows"
        [columnMode]="'force'"
        [scrollbarH]="true"
        [headerHeight]="50"
        [footerHeight]="0"
        [limit]="10"
        [rowHeight]="'auto'"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectionType]="'single'"
        (select)='onSelectGroup($event)'>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                      <label>
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                    </div>
                  </ng-template>
                  <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                      <label>
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Grupo" prop="name"></ngx-datatable-column>
        </ngx-datatable>
        <br>
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Atras</button>
          <button type="button" class="btn btn-primary btn-sm" nextStep>Siguiente</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="verificacion">
      <div class="centered-content">
        <div>
          <h3>Resumen</h3>
          <p><b>Nombre:</b> {{ name.value }}</p>
          <p><b>Username:</b> {{ username.value }}</p>
          <p><b>Correo Electronico:</b> {{ email.value }}</p>
          <p><b>Recursos:</b></p>
          <ul>
            <li class="" *ngFor='let res of resources_list'>
              <p>{{ res.name }}</p>
            </li>
          </ul>
          <p><b>Recurso Predeterminado:</b> {{ resource_prede_name }}</p>
          <p><b>Grupos:</b></p>
          <ul>
            <li class="" *ngFor='let group of selected_group'>
              <p>{{ group.name }}</p>
            </li>
          </ul>
        </div>
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>
          <button type="button" class="btn btn-danger btn-sm" resetWizard>Reset</button>
          <button [routerLink]="['/users']" class=" btn btn-primary light btn-sm" (click)="openSuccessSwal()" >Confirmar</button>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>
